body {
    background-color: #0A0713;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        display: flex;
        height: 600px;
        width: 800px;

        .slack {
            position: relative;
            display: block;
            margin: auto;
            width: 70%;
        }
    }
}
